websocket-client
kafka-python
pandas
pyyaml
python-dotenv
mlflow
evidently
pyarrow
scikit-learn
matplotlib
jupyter
fastapi
uvicorn[standard]
prometheus-client
pydantic
joblib
# dev / CI
pytest
httpx
ruff
